<link rel="stylesheet" href="/static/css/normalize.css">
<link rel="stylesheet" href="/static/css/footer.css">
<footer class="clearfix">
    <div class="column">
        <ul>
            <li>1</li>
            <li>1</li>
            <li>1</li>
        </ul>
    </div>
    <div class="column">
        <ul>
            <li>1</li>
            <li>1</li>
            <li>1</li>
        </ul>
    </div>
    <div class="column">
        <ul>
            <li>1</li>
            <li>1</li>
            <li>1</li>
        </ul>
    </div>
</footer>